ax_platform==0.3.4
bo==0.1-alpha
botorch==0.9.2
cma==3.4.0
functions==0.7.0
gpytorch==1.11
grpclib==0.4.7
gymnasium==0.29.1
ipython==8.15.0
matplotlib==3.7.2
modal==0.62.193
numpy==2.1.2
optuna==4.0.0
Pympler==1.1
scipy==1.14.1
setuptools==65.6.3
torch==2.1.0
