appdirs==1.4.4
ax_platform==0.3.4
botorch==0.9.2
cma==3.3.0
gpytorch==1.11
gymnasium==0.29.1
ipython==8.15.0
matplotlib==3.7.2
numpy==1.26.3
pygame==2.5.2
Requests==2.31.0
scipy==1.11.4
setuptools==65.6.3
torch==2.1.0
