ax_platform==0.3.4
bo==0.1-alpha
botorch==0.9.2
cma==3.3.0
gpytorch==1.11
gymnasium==0.29.1
ipython==8.15.0
matplotlib==3.7.2
modal==0.62.193
numpy==2.0.0
scipy==1.13.1
setuptools==65.6.3
torch==2.1.0
